<template name="articleList">
    <h3>Articles</h3>
    <h4>
        <a href="{{pathFor 'articleAdd'}}">
            Add new
        </a>
    </h4>
    {{#each articles}}
        <p>
            <a href="{{pathFor 'article'}}">
                {{title}}
            </a>
        </p>
    {{/each}}
</template>